@import "tailwindcss";

@theme {
  --color-primary: #151439;
  --color-heading: #1E0E62;
  --color-action: #E93A7D;
  --color-action-hover: #D62F70;
  
  --font-dm-sans: 'DM Sans', sans-serif;
}

@layer base {
  html {
    font-family: var(--font-dm-sans);
    color: var(--color-primary);
  }
}
